@import "~ng-snotify/styles/material.scss";

body{
  background-color:#fff;
}


.login-image-div {
  text-align: center;
  padding: 15px;
}

.nihon-suido {
  width: 570px;
}

.nihon-suido-div {
  /*  padding: 70px 0;
    text-align: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.nihon-suido-image {
  /*  padding: 70px 0;
  text-align: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.login-form {
//   min-width: 150px;
//   max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.sign-in {
  background-color: #2580eb;
  color: white;
//   width: 100%;
}

.forgot-password {
  opacity:1;
  margin-top:5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;
}
.pd-0 {
  padding: 0px;
}
/* Scss Document */

.mainBody {
	min-height: calc(100vh - 105px);
	.loginPage {
		background-color: #f9f9f9;
		position: relative;
		padding: 30px;
		margin: 0 auto;
		height: 100vh;
		display: flex;
		align-items: center;
		min-height:100%;
		@media (max-width: 767px) {
			height:100%;
		}
		&:before {
			content: "";
      background: rgba(0,117,193,0.1);
			left: 0;
			position: absolute;
			top: 0;
			height: 100%;
			width: 35%;
		}
		.loginInner {
			max-width: 900px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			width: 100%;
			.loginDesc {
				background-color: #0075c1;
				padding: 30px;
				height: 100%;
				text-align: center;
				position: relative;
				text-align: center;
				.loginInnerDiv {
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					left: 50%;
					width: 100%;
					padding: 0 30px;
					@media (max-width: 767px) {
						position: relative;
						transform: none;
						top: auto;
						left: auto;
					}
					.loginLogo {
						margin: 0 0 25px 0;
            img{
              max-width:100%;
            }
					}
					p {
						color: #fff;
						font-size: 13px;
						letter-spacing: 1px;
					}
				}
			}
			.loginForm {
				background-color: #fff;
				height: 100%;
				padding: 50px 100px;
				@media (max-width: 767px) {
					padding:25px 30px;
				}
				h1 {
					text-align: center;
					margin: 0 0 50px 0;
					@media (max-width: 767px) {
						margin: 0 0 25px 0;
					}
				}
				.form-group {
					position: relative;
					label {
						margin: 0 0 10px 0;
						font-size: 12px;
						text-transform: uppercase;
						color: #000;
						letter-spacing: 1px;
					}
					input {
						border-radius: 4px;
						background-color: transparent;
					}
					.btn {
						width: 100%;
					}
				}
				.commonHead {
					text-align: center;
					p {
						color: #000;
						font-size: 14px;
						text-transform: uppercase;
						a {
							color: #0075c1;
							@media (max-width: 767px) {
								display:block;
							}
						}
					}
				}
			}
		}
	}
}
.loaderDiv
{
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.75);
	height: 100%!important;
	width: 100%!important;
	z-index:1;
	.mat-progress-spinner{
		width: 50px !important;
		height: 50px !important;
		position: absolute;
		left: 50%;
		transform: translate(-50% , -50%);
		top: 50%;
		::ng-deep svg{
			width: 50px!important;
			height: 50px!important;	
			circle{
				stroke:  #0075c1;
			}
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
	background: none !important;
	
}