.edit-points-configuration-div {
  height: 100%;
  display: flex;
  //justify-content: center;
  justify-content: space-evenly;
}

.cancel {
  align-self: flex-end;
}

.save {
  align-self: flex-end;
}

.present-value-input {
  float: right;
}

.set-range-input{
  width: 100px;
  float: right;
}

.label-between-range{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.input-lock-toggle{
  float: right;
}

.button-div{
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.setting-button{
  float: left;
}
.close-button{
  float: right;
}
