<!--SAMPLE CODE STARTS-->
<!-- <nb-card>
  <nb-card-header>Data Change(1AI001)</nb-card-header>
</nb-card> -->
<!-- <nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label><strong>Point (1)</strong></label>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label>Water Level</label>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label><strong>Present value</strong></label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Value Settings</label>
          <input type="text" nbInput placeholder="Text field" status="primary" class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Set range</label>
          <div class="row">
            <div class="col-sm-6"> <input nbInput status="primary" type="number" placeholder="Min" class="form-control">
            </div>
            <div class="col-sm-6"><input nbInput status="primary" type="number" placeholder="Max" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label><strong>Alarm Set Value</strong></label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Upper Upper Limit</label>
          <input nbInput status="primary" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Upper Limit</label>
          <input nbInput status="primary" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Lower Limit</label>
          <input nbInput status="primary" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Lower Lower Limit</label>
          <input nbInput status="primary" type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label><strong>Alarm Dead-Zone</strong></label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Alarm</label>
          <input type="text" nbInput placeholder="Text field" status="primary" class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Set range</label>
          <div class="row">
            <div class="col-sm-6"> <input nbInput status="primary" type="number" placeholder="Min" class="form-control">
            </div>
            <div class="col-sm-6"><input nbInput status="primary" type="number" placeholder="Max" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label><strong>Upper & Lower Limit Correction Width</strong></label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Limit</label>
          <input type="text" nbInput placeholder="Text field" status="primary" class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Set range</label>
          <div class="row">
            <div class="col-sm-6"> <input nbInput status="primary" type="number" placeholder="Min" class="form-control">
            </div>
            <div class="col-sm-6"><input nbInput status="primary" type="number" placeholder="Max" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label><strong>Input Lock</strong></label>
          <nb-toggle></nb-toggle>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button nbButton outline status="primary" class="mr-1">Key Display</button>
        <button class="setting-button" nbButton outline status="primary" class="mr-1">Setting</button>
        <button (click)="cancel()" nbButton outline status="primary">Close</button>
      </div>
    </div>
  </nb-card-body>
</nb-card> -->



<!--SAMPLE CODE ENDS-->