
  .tab-group {
    background-color: #FFF;
  
    ::ng-deep .mat-tab-header {
      border-bottom: 0px solid rgba(0, 0, 0, .12);
  
      .mat-tab-label-container {
        .mat-tab-list {
          border-bottom: 1px solid rgba(0, 0, 0, .12);
  
          .mat-tab-labels {
            .mat-tab-label {
              border: 1px solid transparent;
              border-top-left-radius: .25rem;
              border-top-right-radius: .25rem;
              margin-bottom: -1px;
              letter-spacing: 0.5px;
  
              &.mat-tab-label-active {
                color: #00aadd;
                background-color: #fff;
                border-color: #dee2e6 #dee2e6 #fff;
                font-weight: bold;
              }
            }
          }
  
          .mat-ink-bar {
            display: none;
          }
        }
      }
    }
  }  

  ::ng-deep .mat-tab-group {
    .mat-tab-body-wrapper {
      .mat-tab-body-content {
        padding: 15px;
      }
    }
  }