<div class="subheader subheader-solid" id="kt_subheader">
  <div class="container-fluid">
    <div class="top-bar">
      <div class="dbWrapper">
        <div class="dbMenuStrip">
          <div class="dbLeftCol">
            <div class="d-flex">
              <mat-form-field appearance="fill">
                <mat-label>{{'common.district'| translate}}</mat-label>
                <mat-select>
                  <!-- [value]=" .showLogin$ | async" -->
                  <mat-option *ngFor='let city of userCities' (click)="onSelection(city, 'city')" [value]="city.id">
                    {{city.cityname|translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="d-flex">
                <!-- <mat-label *ngIf="city!=''">{{city|translate}}</mat-label> -->
                <mat-label>{{'common.municipality '| translate}}</mat-label>
                <mat-select name="cityArea">
                  <!-- [(ngModel)]="pointDetail.cityArea"  #cityArea="ngModel" [disable] ="cityAreas.length == 0" -->
                  <mat-option *ngIf="cityAreas.length==0">{{'common.dataNotAvailable'|translate}}</mat-option>
                  <mat-option *ngFor='let area of cityAreas' [value]="area.areaid" (click)="onSelection(area, 'area')">
                    {{area.areaname|translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf ="areaId">
                <mat-label>{{'common.pointName'|translate}}</mat-label>
                <mat-select name="areaSensor">
                  <!-- #areaSensor="ngModel" [(ngModel)]="pointDetail.areaSensor" -->
                  <mat-option *ngIf="sensorListData.length==0">{{'common.dataNotAvailable'|translate}}</mat-option>
                  <mat-option *ngFor='let point of sensorListData' [value]="point.mainSensorid"
                    (click)="onSelection(point,'Point')">
                    {{point.sensorname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

                     
              <div class="showDateDiv">
                <form  [hidden]= "!showDateInputs">
                  <div class="form-group dropdwnInput">
                    <input #fromdatetime id="fromdatetime" name="fromdatetime" [(ngModel)]="selectedFromDate"
                      [owlDateTimeTrigger]="fromDatTime" [owlDateTime]="fromDatTime"
                      placeholder="{{'common.fromDateTime' | translate}}" readonly>
                    <owl-date-time #fromDatTime></owl-date-time>
                  </div>
                  <div class="form-group dropdwnInput">
                    <input #todatetime id="todatetime" name="todatetime" [(ngModel)]="selectedToDate"
                      [owlDateTimeTrigger]="toDateTime" [owlDateTime]="toDateTime"
                      placeholder="{{'common.toDateTime'| translate}}" readonly>
                    <owl-date-time #toDateTime></owl-date-time>
                  </div>
                  <button class="btn commonBtn" type="submit" (click)="onSubmit()">{{'common.submit' | translate}}</button>
                </form>
              </div>

            </div>
          </div>
          <div class="dbRightCol ml-3" >
            <div class="iconsList" [hidden] ="!showExcelIcon">
              <button class="btn" [matTooltip]="'common.exportAsCSV'|translate" (click)="importAsXlsx()"
                 ng-class="{not-allowed: tableData.length==0}">
                <img src="assets/Icons/csv.svg" alt="image">
              </button>
              <span>{{'common.CSVOutput'| translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>