<section>

  <app-main-dropdown [alertSummary]="false" [showExcelIcon]="false" [showDateInputs] ="false"> </app-main-dropdown>

  <div class="trendFlow">
    <div class="rangeFilter mb-4" *ngIf="sensorId">

      <form class="form-filter-date alarmSummary_Form d-flex" #form ="ngForm">
        <div class="dropdwnInput mr-2">
          <input #fromdatetime id="fromdatetime" name="fromdatetime" [(ngModel)]="selectedDate" class="selectedDate"
            [owlDateTimeTrigger]="fromDatTime" [owlDateTime]="fromDatTime"
            (ngModelChange)="filterDataByDate(selectedDate)" placeholder="{{'pointCompare.chooseADate' | translate}}"
            readonly>
          <owl-date-time #fromDatTime></owl-date-time>
        </div>

        <global-category-dropdown  [requestBody]="PropertyLayoutRequest" [val]="selectedPropertyValue"
        [globalCodeId]="selectedValue"
          placeholderText="Select Value" [disabled]="isStatusSubmitted"
          (dropdownSelectedValue)="selectedLayout($event)" requiredMessage="Value is required."
          placeholderText="Select Value" [hasRequired]="true" [submitted]="form.submitted">
        </global-category-dropdown>

        <button class="btn commonBtn" (click)="getGraphData()" type ="button">
          {{'common.submit' | translate}}</button>
      </form>
    </div>


    <!-- <div class="flowChart">
      <div class="table-responsive">
        <div>
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>

          <div *ngIf="chartData.length>0" class="chart" style="display: block">
            <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [colors]="barChartColors"
              [legend]="barChartLegend" [options]="chartOptions" chartType='line'>
            </canvas>
          </div>
          <div *ngIf="chartData.length==0 && " class="chart noData">
            <p>{{'common.dataNotAvailable' | translate}}</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>