
<mat-form-field appearance="fill">
  <mat-label>Value</mat-label>
  <mat-select [disabled]="disabled"  name="dropdown" [(ngModel)]="value"
    #globalDropdownControl="ngModel" [required]="hasRequired"
    [ngClass]="{ 'is-invalid': (submitted || globalDropdownControl.touched) &&  globalDropdownControl.invalid }">
    <mat-option *ngFor="let code of globalCodesData" [value]="code.codeName">
      {{code.codeName | translate }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="invalid-feedback">
  {{requiredMessage}}
</div>