<section>
  <app-main-dropdown></app-main-dropdown>
  <!-- Alert Data by main sensor id -->
  <div class="headerClass" *ngIf="alertDataList.length > 0" style="max-height: 600px;">

    <div class="sensorData ">
      <form class="form-filter-date alarmSummary_Form">
        <div class="dropdwnInput d-flex">
          <input #fromdatetime id="fromdatetime" name="fromdatetime" [(ngModel)]="selectedDate"
            [owlDateTimeTrigger]="fromDatTime" [owlDateTime]="fromDatTime"
            placeholder="{{'common.fromDateTime' | translate}}" readonly>
          <owl-date-time #fromDatTime></owl-date-time>
          <button class="btn commonBtn ml-1" id="commonBtn" value="reset" (click)="resetFilters()">{{'alarmSummary.reset'|translate}}</button>
              <!--  [disabled]="selectDateTime === ''" -->
        </div>
      </form>
    </div>

    <div fxLayout fxLayoutAlign="center center">
      <mat-card>{{'alarmSummary.alertSummary'| translate}}
      </mat-card>
      <div class="example-container mat-elevation-z8">
        <table class="table" id="header-fixed">
          <thead>
            <tr>
              <th scope="col" *ngFor="let tableColumn of displayedColumns">{{ tableColumn| translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of alertDataList">
              <td>{{data.dated}}</td>
              <td>{{sensorName}}</td>
              <td>{{data.dataNameToDisplay | translate}}</td>
              <td>{{data.status | translate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="noData" *ngIf="alertDataList.length == 0">
    <span>{{'common.dataNotAvailable'|translate}}</span>
  </div>
</section>