th.mat-header-cell {
    text-align: left;
    max-width: 300px;
  }
  .mat-card {
    background-color: #00aadd;
    position: relative;
    margin: 0px;
    color: #fff;
    font-size: 15px;
    border: 0;
    .md-form {
      position: absolute;
      right: 15px;
      top: 6px;
    }
  }
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .example-container {
    overflow-y: auto;
    height: calc(100vh - 242px);
  
    table {
      border-collapse: collapse;
      width: 100%;
      tr {
        th:last-child,
        td:last-child {
          text-align: center;
        }
      }
      thead {
        th {
          padding: 8px 15px;
          position: sticky;
          top: 0;
          background-color: #fff;
        }
      }
      tbody {
        td {
          padding: 8px 15px;
        }
      }
    }
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .searchBar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    .iconBar {
      position: absolute;
      right: 0;
      top: 0;
      i {
        color: #fff;
      }
    }
    ::ng-deep .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: left;
      left: 0;
      margin: 0 10px 0 0;
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-infix {
            border: 0;
            color: #fff;
            .mat-form-field-label-wrapper {
              label {
                color: #fff;
              }
            }
          }
        }
        .mat-form-field-underline {
          background: rgba(255, 255, 255, 1);
        }
      }
    }
  }
 
  .sensorData {
    display: flex;
    margin: 0 0 14px 0;
    border: 1px solid #eee;
    padding: 15px 12px;
    border-radius: 4px;
    box-shadow: 0 0px 2px rgb(0 0 0 / 10%);
    position: relative;
    .icon {
      position: absolute;
      right: 0;
      // top: 50%;
      // transform: translateY(-50%);
      span {
        color: #777;
      }
    }

    
  .alarmSummary {
    margin: 0 0 14px 0;
    ::ng-deep .mat-form-field {
      .mat-form-field-wrapper {
        padding-bottom: 7px;
      }
    }
    button {
      @media (max-width: 576px) {
        margin: 15px 0 0 0;
      }
    }
  }
  .commonBtn {
    background-color: #00aadd;
    color: #fff;
    padding: 0px 25px;
  }
} 

// .selectedDate{
//     border-style: none;
// }