
<app-main-dropdown [alertSummary] = "false" [showExcelIcon] ="false">

<div class="widgets">
    <!-- [hidden]="currentView!=='graph'" -->
    <!-- <div *ngFor="let widgets of widgetsData" class="card">
      <div class="card-body">
        <h3 class="card-title text-white">{{widgets.name | translate}}</h3>
        <div class="d-inline-block">
          <h2 class="text-white">{{widgets.value }} {{widgets.unit | translate}}</h2>
        </div>
        <span class="display-5 opacity-5"><i class="fa fa-bar-chart"></i></span>
      </div>
    </div> -->
</div>