<div>
  <div class="sensorSettings">
    <div class="row">
      <div class="col-sm-12 col-sm-12">
        <h2>{{sensorName }}</h2>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <form #maintanenceForm="ngForm" (ngSubmit)="maintanenceForm.valid ">
        <div class="row">
          <div class="col-sm-12">
            <div class="settings">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{'pointDetail.recordingCycleInitialValueMin'|translate}}</label>
                    <input class="form-control" placeholder="Recording cycle (initial value)"
                      #recordingCycleInitial="ngModel" [(ngModel)]="maintanenceData.recordingCycleInitial"
                      name="recordingCycleInitial" type="number" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{'pointDetail.transmissionCycleInitialValueMin'|translate}}</label>
                    <input class="form-control" #transmissionCycleInitial="ngModel" name="transmissionCycleInitial"
                      [(ngModel)]="maintanenceData.transmissionCycleInitial"
                      placeholder="Transmission cycle (initial value)" type="number" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{'pointDetail.recordingCycleMin'|translate}}</label>
                    <input class="form-control" placeholder="Recording cycle" type="number" minlength="1" max="1440"
                      #recordingCycle="ngModel" name="recordingCycle" [(ngModel)]="maintanenceData.recordingCycle">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{'pointDetail.transmissionCycleMin'|translate}}</label>
                    <input class="form-control" placeholder="Transmission cycle" type="number" minlength="1" max="1440"
                      #transmissionCycle="ngModel" name="transmissionCycle"
                      [(ngModel)]="maintanenceData.transmissionCycle">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{'pointDetail.alertLevel'|translate}}</label>
                    <input class="form-control" #alertLevel="ngModel" name="alertLevel"
                      [(ngModel)]="maintanenceData.alertLevel" placeholder="Alert Level" type="number" minlength="1"
                      max="10">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-right">
            <button type ="button" class="btn commonBtn mr-2" (click) ="returnToInitial()" >
              {{'pointDetail.returnToPreviousValue'|translate}}
            </button>
            <!-- (click)="returnInitial(recording_cycle.value,transmission_cycle.value,alert_level.value)" -->

            <button class="btn commonBtn" type="text" type ="submit" (click) ="onSubmit()" >
              {{'common.save'|translate}}
            </button>
            <!-- (click)="updateMaintenance(recording_cycle.value,transmission_cycle.value,alert_level.value)" -->
          </div>
          <div class="col-sm-12 text-right">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>