<!-- <p>graphical-view works!</p> -->

<mat-card>
  <div class="table-responsive">
    <!-- *ngIf="sensorsFilteredData.length!=0" style="display: block" -->
    <div class="wrapperCanvas">
      <!-- <canvas [colors]="lineChartColors"
                  [datasets]="cookieService.get('language')=='en'?lineChartData:lineChartDataJP" [labels]="lineChartLabels"
                [options]="lineChartOptions" [plugins]="lineChartPlugins" baseChart
                  chartType="line">
                </canvas> -->
      <app-chart></app-chart>
    </div>
  </div>
</mat-card>